<div class="jumbotron">
  <h1>Rubber Ducky Web-Application</h1>
  <p class="lead">
    <img src="images/rubber-duck.png" alt="Quack!"><br>
    Keystroke Injection Attack Platform.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="{{url}}" ng-mousedown="openTab()">Quack!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Welcome</h4>
  <p>
    This webpage allows you to create custom payloads for the USB Rubber Ducky. The site contains custom scripts for Windows, OSX and Linux.
  </p>

  <h4>Scripts Require:</h4>
  <p>
    <li>Administrative Access</li>
    <li>PowerShell</li>
    <li>Internet Access</li>
    <li>Terminal or Windows CMD</li>
  </p>

  <h4>Disclaimer</h4>
  <p>The Rubber Ducky Framework is a penetatration testing tool used for network audits and security testing where permitted only. Users are solely responsible for compliance with all laws of their jurisdiction. The creator of this framework is not responsible for any unauthorized use.</p>
</div>
